/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: pink;
}

section {
    margin: 1rem 0;
}

.boxed {
    max-width: 900px;
    margin: 0 auto;

}

.col {
    padding: 1rem;
    width: 100%;
}

img {
    width: 100%;
}



/* ********  */
/* Helpers */

.flex {
    display: flex;
}

.directionRow {
    flex-direction: row;

}

.directionColumn {
    flex-direction: column;

}

.spcBtw {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.alignItCenter {
    align-items: center;
}


.gap {
    gap: 1rem;
}

/* ***Header*** */


header {
    height: 60px;
    background-color: #0084fd;
}

nav {
    height: 100%;
    padding: 0 2rem;
}


.fa-solid {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

/* ***main*** */

/* demo application */

.demoApplication .boxed {
    background-color: white;
}

.card {
    min-height: 100px;
    background-color: #b5ddff;
    border-radius: 25px;
    padding: 1rem;
}

#appleButton {
    padding: 0.5rem 2rem;
    color: white;
    background-color: #0084fd;
    width: 80%;
}

.fa-apple {
    margin-right: 0.5rem;
}

.card>div {
    line-height: 1.5;
}




/* strategic planning section */

.strategicPlanning .boxed {
    background-color: lightgray;
}

/* < !-- Testimonials --> */

.testimonials .boxed {
    background-color: rgb(29, 49, 74);
}

/* Benefit Section */

.benefit .boxed {
    background-color: rgb(148, 186, 232);
}


/* About us section */
.aboutUs .boxed {
    background-color: rgb(207, 177, 28);
}

/* get Started section */
.getStarted .boxed {
    background-color: rgb(207, 123, 28);
}

/* footer */
footer {
    background-color: darksalmon;
    min-height: 300px;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/


/* mobile First layout */

@media screen and (max-width: 480px) {

    body {
        background-color: green;
    }

    .linkTopRight {
        display: none;
    }


}


/* tablet layout */

@media screen and (min-width: 480px) and (max-width: 768px) {

    body {
        background-color: red;
    }

    .linkTopRight {
        display: none;
    }


    .col50 {
        width: calc(100%/2);

    }

    .col66 {
        width: calc(100%/3*2);
    }

    .col33 {
        width: calc(100%/3)
    }

    .row {
        flex-direction: row;
    }




}

/* desktop layout */

@media screen and (min-width: 768px) {

    body {
        background-color: yellow;
    }

    .Hamburger4Mobile {
        display: none;
    }

    .card {
        display: flex;
    }

    .col50 {
        width: calc(100%/2);

    }

    .col66 {
        width: calc(100%/3*2);
    }

    .col33 {
        width: calc(100%/3)
    }

    .row {
        flex-direction: row;
    }

    img {
        width: 50%;
    }

}