/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: pink;
}

img {
    height: 100%;
}

/* ********  */
/* Helepers */

.flex {
    display: flex;
}

.spcBtw {
    justify-content: space-between;
}

.alignItCenter {
    align-items: center;
}


/* ***Header*** */

header {
    height: 60px;
    background-color: lightblue;
}

nav {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    padding: 0 2rem;
}